body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Franklin Gothic";
}

.jumbotron {
    width: 100%;
    height: 100vh;
    background-image: url("../imgs/starfieldBanner.jpg");
    color: #EBD71C;
}

.jumbotron small {
    color: #4bd5ee;
}

.jumbotron a {
    position: absolute;
    top: 90%;
    left: 45%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


/* Name and Species formatting*/
.nameSpecies {
    padding-top: 50px;
}

.nameSpecies div {
    background-image: url("../imgs/GrayPanel.png");   
}

/* Stat block formatting */
.stats {
    padding-bottom: 25px;
}

.row {
    padding-left: 15px;
}



.stats > div {
    background-color: beige;
    border-radius: 10%;
}

.buttons {
    padding-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    margin-top: 40px;
}

.list-group-item {
    min-width: 100%;
}

.statInterior{
    background-image: url("/imgs/statblock.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    margin-right: 10px;
    position: relative;
            
}

.statLabel {
    position: absolute;
    bottom: 47%;
    left: 45%;
    text-align: center;
}


.attribute {  
           
    color: white;
    display: block;
    position: absolute;
    bottom: 0px;
    vertical-align:middle;
 }