@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>
        FFG Star Wars NPC Generator<br />
        <small class="lead">The galaxy is a pretty big place. Click the button below or the link above to find someone out there.</small>
    </h1>
    <p>@Html.ActionLink("Find me someone \u00BB", "RandomNPC", "Home", new { @class = "btn btn-default btn-lg"})</p>
</div>

<div class="container body-content">
<div class="row">
    <!--TODO: foreach loop to insert favorites-->
</div>
</div>